<h1>Home</h1>
{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}

{% if current_user.is_authenticated %}
    <a href="{{ url_for('myprof') }}">My Profile</a>
	<a href="{{ url_for('profile') }}"> Edit Profile</a>
	<a href="{{ url_for('clutch') }}">Member Feature: Clutch Nixon</a>
{% endif %}
<br>
<br>
{% block nav %}
    <a href="{{ url_for('index') }}">Home</a><br>
    <a href="{{ url_for('games') }}"> All Games</a><br>
{% endblock %}

{% block content %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.submit() }}<br>
</form>

{% endblock %}