{% extends 'base.html' %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Clutch Nixon</h1>
<p>Clutch Nixon was a renowned American stunt performer, and one of the most famous people to ever come out of Hope County, MT. Born and raised in the Holland Valley region of the county, Nixon first gained notoriety in 1960 after surviving a stunt which nearly took his life after. This first stunt involved swerving drunkenly around a crude backwoods obstacle course, but with the added complication that Clutch's car was on fire at the time. Clutch completed the course and survived by plunging into an inlet of Deep North Irrigation Reservoir.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/W2kf_BtyLW8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endblock %}